@font-face {
    font-family: "Open Dyslexic";
    src: url("opendyslexic3-bold-webfont.woff2") format("woff2"),
         url("opendyslexic3-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: "Open Dyslexic";
    src: url("opendyslexic3-regular-webfont.woff2") format("woff2"),
         url("opendyslexic3-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
