
@font-face {
  font-family: 'Lexend';
  src: url('LexendExa-Regular.eot?#iefix') format('embedded-opentype'),  url('LexendExa-Regular.woff') format('woff'), url('LexendExa-Regular.ttf')  format('truetype'), url('LexendExa-Regular.svg#LexendExa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
